h1 
{ 
    position:relative;
    color: red !important;
}
h1::after {
    content: 'После';
}
h1::before {
    content: 'ДО';
}
h1::first-letter{
    color: blue;
}
p::first-line{
    color: red;
}
.title {font-size: 35px;}
.page-title{font-size: 60px;}